html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.125rem
 }
 
 html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.125rem
 }
 
 .myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
 }

 .MyCustomButton2.sapMBtn .sapMBtnInner{
     color: rgb(189, 136, 136) !important;
 }

 .MyCustomButton2.sapMBtn .sapMBtnActive{
    background-color: rgb(78 187 40) !important;
}